.userList {
	flex: 4;

	.userListDiv {
		display: flex;
		align-items: center;

		.userListImg {
			width: 32px;
			height: 32px;
			object-fit: cover;
			border-radius: 50%;
			margin-right: 10px;
		}
	}

	.userListEdit {
		border: none;
		border-radius: 10px;
		padding: 5px 10px;
		background-color: #3bb077;
		color: white;
		cursor: pointer;
		margin-right: 20px;
	}

	.userListDelete {
		color: rgb(179, 65, 65);
		cursor: pointer;
	}
}