.sidebar {
	flex: 1;
	background-color: gray;
	height: calc(100vh - 50px);
	position: sticky;
	top: 50px;
	background-color: rgb(255, 251, 255);
	
	.sidebarWrapper {
		padding: 20px;
		color: #555;
		
		.sidebarMenu {
			margin-bottom: 10px;
			
			.sidebarTitle {
				font-size: 14px;
				color: rgb(187, 186, 186)
			}
			
			.sidebarList {
				list-style-type: none;
				padding: 5px;
				
				.sidebarListItem {
					display: flex;
					align-items: center;
					padding: 5px;
					cursor: pointer;
					border-radius: 10px;
					
					&:hover {
						background-color: rgb(229, 185, 229);
					}
					
					&:active {						
						background-color: rgb(117, 213, 157);
						color: white;
					}

					.sidebarIcon {
						margin-right: 5px;
						font-size: 20px;
					}
				}
			}
		}
	}
}